
body{
    margin:0;
    color:white;
    font-size:20px;
    background-color:#edf7fa;
}
.logo{
  margin:40px 0 0 40px;
}
.illustration{
  float:left;
  margin:20px 40px 0 40px;
  width:800px;
}
.first-div{
  width:1440px;
  height:650px;
    background-color:hsl(257, 40%, 49%);
    margin:0 auto 0 auto;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight:700px;
  padding-top:100px;
  margin-right:40px;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight:700px;
}

button{
  padding:10px 30px 10px 30px;
  border-radius:10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
button:hover{
    background-color: aqua;
}
.icon{
  width:40px;
  height:40px;
  background-color:hsl(257, 40%, 49%);
  margin:4px;
}
.contact{
  position:absolute;
  right:100px;
  bottom:20px;
}
